.shiny-text {
  display: inline-block;
  background-repeat: repeat-x;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
  .shiny-text {
    background-position: center !important;
  }
}
